/* Sets custom font for entire site */
@font-face
{
    font-family: SkolarOT;
    src: url(Skolar%20OT.otf);
}

/* Gives default color to html and default height */
html
{
    background-color: #d9d4d4;
    height: 100%;
}

/* Styles body */
body
{
    width: 100%; /* Body 100% of screen */
    height: 100vh;
    margin-left: auto; /* Centres body */
    margin-right: auto;
    margin-top: 0;
    font-family: /*SkolarOT, */'Calibri Light', 'Trebuchet MS', Arial; /* Sets fonts for site */
}

/* Header always 80px; */
header
{
    height: 80px;
}

/* Styles website heading h1 */
#heading
{
    background-color: #0d5a99;
    color: #FFF;
    padding: 10px;
    margin-top: 0;
    font-family: 'SkolarOT';
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}

#heading a {
    color: #FFF;
    text-decoration: none;
}

/* Styles main content on all pages */
#content
{
    padding: 10px 10px 0 10px;
    margin-top: -23px;
    background: linear-gradient(#bbbaba, #cfcaca);
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
}

h3 {
    margin-top: 50px;
}

/* Styles text input */
input[type=text], input[type=url], input[type=number], input[type=file]
{
    /*border: 1px solid #dbd6d6;*/
    border-radius: 2.5px;
    font-size: large;
    box-sizing: border-box;
    width: 50%;
}

input[type=date]
{
    /*border: 1px solid #dbd6d6;*/
    border-radius: 2.5px;
    font-size: large;
    box-sizing: border-box;
    width: 50%;
}

input[type=button], input[type=submit], input[type=reset]
{
    text-decoration: none;
    color: #000;
    border: 1px solid #FFF;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;
    width: 164px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover
{
    color: #FFF;
    background-color: #0d5a99;
    border: 1px solid #0d5a99;
}

select, option
{
    /*border: 1px solid #dbd6d6;*/
    border-radius: 2.5px;
    font-size: large;
    box-sizing: border-box;
    width: 50%;
}

textarea
{
    /*border: 1px solid #dbd6d6;*/
    border-radius: 2.5px;
    font-size: large;
    box-sizing: border-box;
    width: 50%;
    resize: vertical;
}

.plain-text
{
    font-size: larger;
    box-sizing: border-box;
}

input[type=email]
{
    /*border: 1px solid #dbd6d6;*/
    border-radius: 2.5px;
    box-sizing: border-box;
}

input[type=password]
{
    /*border: 1px solid #dbd6d6;*/
    border-radius: 2.5px;
    box-sizing: border-box;
}

.error
{
    color: #AA0000;
}

.table-layout
{
    /*border: 1px solid black;*/
    width: 85%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    box-sizing: border-box;
}

.table-layout .left-col
{
    /*border: 1px solid black;*/
    width: 49%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.table-layout .table-space
{
    float: right;
    width: 2%;
}

.table-layout .right-col
{
    /*border: 1px solid black;*/
    width: 49%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}

.row-2, .row-3, .row-4, .row-5, .row-6, .row-7
{
    margin-top: 20px;
}

label
{
    font-size: larger;
    display: block;
    float: left;
    clear: left;
    width: 50%;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

/*.error
{
	color:red;
	font-style: italic;
	font-size: 15px;
	visibility: hidden;
}*/